body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#txt {
    font-size: 20vw; /* Tamanho de fonte responsivo em relação à largura da viewport */
    color: white;
}

body {
    background-color: black;
}