/* font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
    margin: 0;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

.page{
    width: 1008px;
    margin: 0 auto;
    padding-top: 65px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}
nav img{
    width: 103px;
    height: 22px;
}
ul{
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
    width: 280px;
    height: 23px;
}
li{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    flex-grow: 1;
    width: 100%;
}
li a{
    opacity: 0.5;
}
ul li a:hover{
    font-weight: bold;
    opacity: 1;
}
a{
    text-decoration: none;
    color: #1F1534;
}
h1{
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    line-height: 56px;
    width: 489px;
    height: 112px;
    margin-bottom: 40px;
    margin-top: 51px;
    font-weight: normal;
}
h1 span{
    font-weight: bold;
    color: #89C5CC;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
    width: 438px;
    height: 84px;
    margin-bottom: 40px;
}
main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 82.36px;

}
button{
    font-style: 'DM Sans', sans-serif;
    background: #69B99D;
    color:#F9F9F9;
    font-size: 16px;

    border-radius: 4px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
    padding: 14px 32px 15px 32px;

    cursor: pointer;
}
button:hover{
    background: #3d836a;
}
button img{
    width: 24px;
    height: 24px;
}
footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
    height: 28px;
    text-align: center;
    margin-top: 80px;
    color: #808080a1;
}

#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}
